.page-title {
	margin-top: -150;
	margin-left: 600px;
	font-family: Felix Titling, sans-serif;
	text-decoration: none;
	color: white;
}

h1 {
	text-decoration: underline;
	margin-left: 550px;
}

.page-heading_text-center {
	background-image: ".\image\heading-bg.jpg";
	color: white;
}

.page-description {
	margin-left: 390px;
	font-size: 20;
}

.col-md-6 {
	color: #115c9b;
	height: 300px;
	width: 500px;
	float: right;
	margin-right: 110px;
	font-size: 20px;
	font-weight: bold;
	font-family: monotype corsiva;
	word-spacing: 8px;
}

.img-responsive {
	margin-top: 100px;
}

.headimg {
	margin-left: 80px;
	margin-bottom: 150px;
}

.container {
	margin-top: 100px;
}

.col-md-7 {
	margin-top: -200px;
	color: #115c9b;
	font-size: 20px;
	font-weight: bold;
	font-family: monotype corsiva;
	word-spacing: 8px;
}